body,
body * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: green;
}

#list {
    display: flex;
    flex-direction: column;
}

.listItem {
    display: flex;
    gap: 15px;
}

.listItem:nth-child(even) {
    background-color: grey;
}
.listItem h3 {
    width: 200px;
}
.date {
    width: 120px;
    text-align: center;
}

.delete {
    border: 2px solid black;
    vertical-align: middle;
}
.delete:hover {
    cursor: pointer;
}
