body,
body * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
}

#list {
    display: flex;
    flex-direction: column;
}

.listItem {
    display: flex;
    gap: 15px;
}

.listItem h3 {
    width: 200px;
}
.date {
    width: 120px;
    text-align: center;
}

.delete:hover {
    cursor: pointer;
    font-weight: bold;
    color: red;
}
